<div
  class="ml-4 d-flex justify-content-between align-items-center goal-item-header"
>
  <div class="mt-2 mb-2 goal-content" [innerHTML]="learningPlan.goal"></div>
</div>

<div
  class="row ml-4 text-muted"
  [ngClass]="{
    'text-muted': beforeDeadline(learningPlan),
    'goal-late': !beforeDeadline(learningPlan)
  }"
>
  <mat-icon class="mat-icon-small" svgIcon="calendar"> </mat-icon>
  <span class="ml-2 mr-2 mt-0">
    {{ learningPlan.endDate | date: "dd.MM.yyyy" }}
  </span>
  <span class="mt-0">
    {{ learningPlan.endDate | date: "HH:mm" }}
  </span>
</div>

<div
  *ngIf="learningPlan.subPlans.length <= 0"
  class="row ml-4 align-items-center"
>
  <mat-slider
    class="mat-slider-wide"
    [(ngModel)]="learningPlan.progress"
    (change)="onSliderValueChange($event)"
    (input)="onSliderValueInput($event)"
    min="0"
    max="100"
    [color]="getSliderColor()"
  ></mat-slider>
  <h6 class="text-center pl-2">{{ learningPlan.progress }} %</h6>
</div>

<div
  class="subgoals ml-4 mr-4 mb-4 mt-4"
  *ngIf="learningPlan.subPlans?.length > 0"
>
  <h5>Subgoals</h5>
  <div *ngFor="let subPlan of learningPlan.subPlans">
    <app-srl-monitor-subplan-item
      [learningPlan]="subPlan"
    ></app-srl-monitor-subplan-item>
  </div>
</div>
