<div class="col-12">
  <div class="col-sm-6">
    <form [formGroup]="formGroup">
      <section>
        <h4 i18n="@@pushNotifications">Push Notifications</h4>
        <p i18n>
          If you want to be reminded of your plans via notification, check the
          checkbox below. Your browser will then ask you if it is acceptable for
          this website to send you notifications. Please click accept to receive
          notifications.
        </p>
        <div>
          <mat-checkbox formControlName="usePushNotifications" i18n="@@enable">
            Enable
          </mat-checkbox>
        </div>
      </section>
      <hr />
      <section>
        <h4 i18n="@@eMailNotifications">E-Mail Notifications</h4>
        <p i18n>
          If you want to be reminded of your plans and goals via e-mail, enter
          an e-mail address below.
        </p>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="email" placeholder="Email" />
          <!-- <mat-error *ngIf="emailFormControl.hasError('email')">
            Please enter a valid email address
          </mat-error> -->
        </mat-form-field>
        <button
          type="button"
          class="ml-4 btn btn-primary"
          (click)="updateEMail()"
          i18n="@@update"
        >
          Update
        </button>
        <div>
          <mat-checkbox formControlName="useEMailNotifications" i18n="@@enable">
            Enable
          </mat-checkbox>
        </div>
      </section>
    </form>
  </div>
</div>
