<div class="mobile-bottom-nav d-flex flex-row align-items-center">
  <app-nav-dropdown></app-nav-dropdown>
  <ul class="mobile-nav-list db-primary">
    <li routerLinkActive="active-mobile-nav-link">
      <a routerLink="/serene/plan" class="mobile-nav-link">
        <img src="/assets/icons/bullseye_white.svg" class="mobile-nav-img" />
        <div class="bottom-nav-label">Add Goal</div>
      </a>
    </li>
    <li routerLinkActive="active-mobile-nav-link">
      <a routerLink="/serene/monitor" class="mobile-nav-link">
        <img src="/assets/btn-icons/observe_white.svg" class="mobile-nav-img" />
        <div class="bottom-nav-label">Monitor</div>
      </a>
    </li>
    <li routerLinkActive="active-mobile-nav-link">
      <a routerLink="/serene/reflect" class="mobile-nav-link">
        <img
          src="/assets/btn-icons/mirror-reflection_white.svg"
          class="mobile-nav-img"
        />
        <div class="bottom-nav-label">Reflect</div>
      </a>
    </li>
  </ul>
  <!-- 
  <a routerLink="/serene/plan" class="mobile-bottom-nav-add-plan-link">
    <button
      class="btn btn-primary db-secondary
      mobile-bottom-nav-add-plan-btn"
      (click)="openPlanDialog()"
    >
      <img class="img-icon-small" src="/assets/btn-icons/add_white.svg" />
    </button>
  </a> -->
</div>
