<div class="shadow pb-4 dialog-page d-flex flex-column">
  <div
    class="dialog-page-header d-flex justify-content-between align-items-center"
  >
    <h4 class="float-left mb-0" i18n="@@plan">Plan</h4>

    <div class="header-controls float-right">
      <span class="cancel-btn" (click)="closeDialog()" i18n="@@cancel">
        Cancel
      </span>
      <button
        class="ml-2 btn btn-rounded db-primary"
        [disabled]="!plan.goal"
        (click)="submit()"
        i18n="@@submit"
      >
        Submit
      </button>
    </div>
  </div>

  <div class="card-body" *ngIf="plan">
    <div>
      <b i18n="@@goal">Goal</b>
      <div class="mt-2 align-items-center justify-content-center">
        <textarea
          name="learning-goal"
          id="user-message"
          [(ngModel)]="plan.goal"
          (change)="onLearningGoalChange($event)"
          class="form-control learning-goal"
          cols="20"
          rows="3"
        ></textarea>
      </div>
    </div>

    <div class="mt-4 mb-4">
      <b i18n="@@schedule" class="mb-2 mt-2" i18n="@@schedule">Schedule</b>
      <div class="d-flex flex-row align-items-center">
        <label class="schedule-label" i18n="@@startLabel">Start: </label>
        <app-datetimeinput
          [date]="plan.startDate"
          (dateChange)="onStartDateChange($event)"
        ></app-datetimeinput>
        <!-- <app-plan-date
          [date]="plan.startDate"
          i18n-dateLabel="@@startDateLabel"
          dateLabel="Start:"
          (dateChange)="onStartDateChange($event)"
        ></app-plan-date> -->
      </div>
      <div class="mt-2 mb-2"></div>
      <div class="d-flex flex-row align-items-center">
        <label class="schedule-label" i18n="@@endLabel">End:</label>
        <app-datetimeinput
          [date]="plan.endDate"
          (dateChange)="onEndDateChange($event)"
        ></app-datetimeinput>
        <!-- <app-plan-date
          i18n-dateLabel="@@endDateLabel"
          dateLabel="End:"
          [date]="plan.endDate"
          (dateChange)="onEndDateChange($event)"
        ></app-plan-date> -->
      </div>
      <div
        *ngIf="!useEndDate && !useStartDate"
        class="alert alert-info"
        i18n="@@planningScheduleAlert"
      >
        You are more likely to reach goals when you assign a schedule to them.
        <br />
        <a href="#">Learn more about setting goals</a>
      </div>
    </div>

    <div *ngIf="plan.subPlans.length > 0">
      <b i18n>Plans</b>
      <div class="container mb-2">
        <div *ngFor="let subPlan of plan.subPlans" class="row subplan pb-2">
          <button
            class="close-btn"
            [style.background-image]="'url(/assets/btn-icons/x_black.svg)'"
            (click)="deleteSubPlan($event, subPlan)"
          ></button>
          <app-srl-subplan-item
            [plan]="subPlan"
            (planChange)="onSubPlanChange($event)"
            class="col-sm-12"
          >
          </app-srl-subplan-item>
        </div>
      </div>

      <div class="container" *ngIf="plan.subPlans.length > 0">
        <div class="row align-items-center justify-content-center">
          <b i18n class="mb-2 mt-2">Total:</b>
          <span class="ml-2 total-hours">{{
            plan.plannedDuration | timedisplay
          }}</span>
        </div>
      </div>
    </div>
    <button class="btn db-primary shadow" (click)="addSubPlan($event)">
      <img class="img-icon-small" src="/assets/btn-icons/add_white.svg" />
      <span class="ml-2" i18n>Add Plan</span>
    </button>
  </div>

  <div class="align-self-center footer-controls">
    <button
      class="ml-4 btn db-primary shadow"
      (click)="submit()"
      [disabled]="!plan.goal"
      i18n
    >
      Submit
    </button>
  </div>
</div>
