<div class="d-flex justify-content-center align-items-center plan-date">
  <mat-form-field class="date-plan-date-picker mr-2">
    <mat-label>{{ dateLabel }}</mat-label>
    <input
      placeholder="From:"
      (dateChange)="onDateChange($event)"
      [value]="date | date: 'yyyy-MM-dd'"
      (input)="date = parseDate($event.target.value)"
      matInput
      [matDatepicker]="datePicker"
      (click)="datePicker.open()"
    />
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>
  <!-- <app-time-select
    (timeChange)="onTimeChange($event)"
    [time]="date"
    class="ml-2"
  ></app-time-select> -->
  <mat-form-field class="date-plan-time-picker">
    <mat-label>{{ timeLabel }}</mat-label>
    <input
      matInput
      aria-label="State"
      type="time"
      [(ngModel)]="time"
      (input)="onTimeChange($event)"
    />
  </mat-form-field>
</div>
