<div class="mt-4 mr-4 mb-2">
  <textarea
    name="learning-goal"
    id="user-message"
    [(ngModel)]="plan.goal"
    (change)="onSubgoalChange($event)"
    class="form-control learning-goal"
    cols="20"
    rows="2"
  ></textarea>
</div>
<div class="d-md-flex flex-row align-items-center ">
  <app-plan-date class="mr-4"
    i18n-dateLabel="@@startDateLabel"
    dateLabel="Start:"
    [date]="plan.startDate"
    (dateChange)="onStartDateChange($event)"
  ></app-plan-date>
  <app-plan-date
    i18n-dateLabel="@@endDateLabel"
    dateLabel="End:"
    [date]="plan.endDate"
    (dateChange)="onEndDateChange($event)"
  ></app-plan-date>
</div>
