<div class="mt-4 mr-4 mb-2">
  <textarea
    name="learning-goal"
    id="user-message"
    [(ngModel)]="plan.goal"
    (change)="onSubgoalChange($event)"
    class="form-control learning-goal"
    cols="20"
    rows="2"
  ></textarea>
</div>
<div
  *ngIf="(applicationSettings$ | async).useStartDate; else onlyDeadline"
  class="d-md-flex flex-row align-items-center "
>
  <label class="schedule-label" i18n="@@startLabel">Start: </label>
  <app-datetimeinput
    [date]="plan.startDate"
    (dateChange)="onStartDateChange($event)"
  ></app-datetimeinput>
  <label class="schedule-label ml-md-4" i18n="@@endLabel">End:</label>
  <app-datetimeinput
    [date]="plan.endDate"
    (dateChange)="onEndDateChange($event)"
  ></app-datetimeinput>
</div>
<ng-template #onlyDeadline>
  <div class="mt-4 mb-4">
    <app-datetimeinput
      [date]="plan.endDate"
      (dateChange)="onEndDateChange($event)"
    ></app-datetimeinput>
  </div>
</ng-template>
