<div class="completed-plan-list">
  <div *ngFor="let completedPlan of completedPlans$ | async" class="card">
    <span class="mt-2 ml-2">{{ completedPlan.goal }}</span>
    <div class="completion-indicator">
      <span
        *ngIf="!completedOnTime(completedPlan); else allGood"
        class="badge badge-warning"
        i18n="@@completedOnTime"
        >Late</span
      >
      <ng-template #allGood>
        <span class="badge badge-warning" i18n="@@completedLate"></span>
      </ng-template>
    </div>
    <hr />
  </div>
</div>
