<aside class="main-sidebar sidebar-dipf-primary elevation-4">
  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li routerlinkActive="active-sidenav">
          <a routerLink="/widget">
            <img
              src="../assets/btn-icons/tactics_white.svg"
              class="sideNavLinkImg"
            />
            <div class="nav-label">Serene</div>
          </a>
        </li>
        <li routerlinkActive="active-sidenav">
          <a routerLink="/user/consent/5bbc9e9cfc48c133c03a13d5">
            <img src="../assets/images/consent.svg" class="sideNavLinkImg" />
            <div class="nav-label">Consent</div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
