@import "../../../assets/css/variables.scss";

.toolbar {
  z-index: 50;
}

.page-title {
  margin-left: 20px;
  font-size: 1.25rem;
  text-decoration: none;
}

.brand-image-wrap {
  margin-left: 30px;
}

.brand-image {
  float: left;
  line-height: 0.8;
  max-height: 30px;
  width: auto;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
  margin-top: -3px;
}

.toolbar-img {
  width: 20px;
  height: 20px;
}

.nav-link {
  color: #efefef !important;
  cursor: pointer;
}
