<ng-container *ngIf="column.useCard; then cardContainer; else noCardContainer">
</ng-container>
<ng-template #cardContainer>
    <app-card [title]="column.title" [options]="cardOptionsNewProject" (btnClick)="clickHeaderButton($event)">
        <ng-widget *ngFor="let widget of column.widgets" [type]="widget.type" [config]="widget.config" [queryId]="widget.queryId"
            [resultsFormat]="widget.resultsFormat">
        </ng-widget>
    </app-card>
</ng-template>
<ng-template #noCardContainer>
    <ng-widget *ngFor="let widget of column.widgets" [type]="widget.type" [config]="widget.config" [queryId]="widget.queryId"
        [resultsFormat]="widget.resultsFormat">
    </ng-widget>
</ng-template>