<h1 mat-dialog-title i18n>Initial Settings</h1>
<div mat-dialog-content>
  <p i18n>How would you like to be notified in the future</p>
  <mat-form-field>
    <mat-checkbox [(ngModel)]="dialogResult.usePushNotifications"
    i18n="@@pushNotifications">Push Notifications</mat-checkbox
    >
  </mat-form-field>
  <mat-form-field>
    <mat-checkbox [(ngModel)]="dialogResult.useEMailNotifications"
    i18n="@@eMailNotifications">Email Notifications</mat-checkbox
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="dialogResult.eMail" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="dialogResult" cdkFocusInitial>
    Submit
  </button>
</div>
