<nav
  class="mobile-nav d-flex flex-row align-items-center justify-content-between"
>
  <ul class="mobile-nav-list">
    <li routerLinkActive="active-mobile-nav-link" class="mobile-nav-list-item">
      <a routerLink="/serene/plan/new" class="mobile-nav-link">
        <img src="/assets/icons/bullseye_white.svg" class="mobile-nav-img" />
        <div class="bottom-nav-label" i18n="@@addGoal">Add Goal</div>
      </a>
    </li>
    <li routerLinkActive="active-mobile-nav-link" class="mobile-nav-list-item">
      <a routerLink="/serene/monitor" class="mobile-nav-link">
        <img src="/assets/btn-icons/observe_white.svg" class="mobile-nav-img" />
        <div class="bottom-nav-label" i18n="@@monitor">Monitor</div>
      </a>
    </li>
    <li routerLinkActive="active-mobile-nav-link" class="mobile-nav-list-item">
      <a routerLink="/serene/reflect" class="mobile-nav-link">
        <img
          src="/assets/btn-icons/mirror-reflection_white.svg"
          class="mobile-nav-img"
        />
        <div class="bottom-nav-label" i18n="@@reflect">Reflect</div>
      </a>
    </li>
    <li routerLinkActive="active-mobile-nav-link" class="mobile-nav-list-item">
      <a routerLink="/settings" class="mobile-nav-link">
        <img
          src="/assets/btn-icons/settings_white.svg"
          class="mobile-nav-img"
        />
        <div class="bottom-nav-label" i18n="@@settings">Settings</div>
      </a>
    </li>
  </ul>
  <app-nav-dropdown class="nav-dropdown"></app-nav-dropdown>
</nav>
