@import "src/assets/css/variables.scss";

.mobile-nav-list li {
  width: 40%;
  max-width: 250px;
  padding: 5px;
}

.mobile-nav {
  width: 100%;
  max-width: 100%;
  background-color: $dipf-blue;
  box-shadow: 0 1px 2px 0 rgba(26, 24, 29, 0.24);
}

.active-mobile-nav-link {
  box-shadow: 0px -4px 0px $dipf-orange inset;
}

.mobile-nav-list {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  position: relative;
  width: 100%;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}

.mobile-nav-list > li {
  padding: 0;
}

.mobile-nav-img {
  width: 24px;
  height: 24px;
}

.mobile-bottom-nav-add-plan-link {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 52px;
  height: 52px;
  left: 0;
  right: 0;
  bottom: 5px;
}

.mobile-bottom-nav-add-plan-btn {
  width: 52px;
  height: 52px;
  border-radius: 5px;
}

.bottom-nav-label {
  text-align: center;
  color: #efefef;
}

.mobile-nav-link {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav-link:hover {
  background-color: $dipf-blue-dark;
  text-decoration: none;
}

.nav-dropdown {
  @media screen and (min-width: $media-sm) {
    position: absolute;
    right: 1em;
  }
}
