<nav
  class="mobile-bottom-nav d-flex flex-row align-items-center justify-content-between"
>
  <app-nav-dropdown></app-nav-dropdown>
  <ul class="mobile-nav-list db-primary">
    <li routerLinkActive="active-mobile-nav-link">
      <a routerLink="/serene/plan/new" class="mobile-nav-link">
        <img src="/assets/icons/bullseye_white.svg" class="mobile-nav-img" />
        <div class="bottom-nav-label" i18n="@@addGoal">Add Goal</div>
      </a>
    </li>
    <li routerLinkActive="active-mobile-nav-link">
      <a routerLink="/serene/monitor" class="mobile-nav-link">
        <img src="/assets/btn-icons/observe_white.svg" class="mobile-nav-img" />
        <div class="bottom-nav-label" i18n="@@monitor">Monitor</div>
      </a>
    </li>
    <li routerLinkActive="active-mobile-nav-link">
      <a routerLink="/serene/reflect" class="mobile-nav-link">
        <img
          src="/assets/btn-icons/mirror-reflection_white.svg"
          class="mobile-nav-img"
        />
        <div class="bottom-nav-label" i18n="@@reflect">Reflect</div>
      </a>
    </li>
    <li routerLinkActive="active-mobile-nav-link">
      <a routerLink="/settings" class="mobile-nav-link">
        <img
          src="/assets/btn-icons/settings_white.svg"
          class="mobile-nav-img"
        />
        <div class="bottom-nav-label" i18n="@@settings">Settings</div>
      </a>
    </li>
  </ul>
  <!-- 
    <a routerLink="/serene/plan" class="mobile-bottom-nav-add-plan-link">
      <button
        class="btn btn-primary db-secondary
        mobile-bottom-nav-add-plan-btn"
        (click)="openPlanDialog()"
      >
        <img class="img-icon-small" src="/assets/btn-icons/add_white.svg" />
      </button>
    </a> -->

  <!-- <a routerLink="/settings" class="item-with-icon settings-item">
    <img src="/assets/btn-icons/settings_white.svg" class="mobile-nav-img" />
    <div class="bottom-nav-label">Settings</div>
  </a> -->
  <app-nav-dropdown></app-nav-dropdown>
</nav>
