@import "/assets/css/variables.scss";
@import "/assets/css/dropdown.scss";
@import "/assets/css/grid.scss";
@import "/assets/css/bootstrap-modifications.scss";
@import "/assets/css/material-modifications.scss";
@import "/assets/css/buttons.scss";
@import "~@angular/material/theming";
@include mat-core();
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "/assets/css/dipf-material-theme.scss";

@include angular-material-theme($dipf-material-theme);

.light-theme {
  @include angular-material-theme($dipf-material-theme);
}

@media screen and (max-width: $media-xs) {
  .grid-container {
    margin: 10px 0;
  }
}

@media screen and (min-width: $media-sm) {
  .app-mobile-nav {
    position: fixed;
    top: 0;
  }

  .content-wrapper {
    margin-top: 70px;
  }
}

@media screen and (max-width: $media-sm) {
  .app-mobile-nav {
    position: fixed;
    bottom: 0;
  }

  .content-wrapper {
    margin-top: 0;
    margin-bottom: 70px;
  }
}

.border-gray {
  border: 1px solid $dipf-gray;
}

body {
  background: #f4f6f9;
}

.dialog-page {
  width: 100%;
  z-index: 200;
  background-color: white;
  border-radius: 2px;
  padding: 0 0 5px 0;
}

.dialog-page-header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: $dipf-blue-lightest;
  position: relative;
  @media screen and (max-width: $media-sm) {
    padding: 0.75rem 1.25rem;
  }
  @media screen and (min-width: $media-sm) {
    padding: 1.25rem 1.25rem;
  }
}

.db-primary {
  background-color: $dipf-blue !important;
  color: #efefef;
}

.db-secondary {
  background-color: $dipf-orange !important;
  color: #efefef;
}

.db-neutral {
  background-color: $dipf-gray-light !important;
  color: #efefef;
}

.db-contrast {
  background-color: $dipf-orange !important;
}

.img-icon {
  width: 24px;
  height: 24px;
}

.img-icon-small {
  width: 12px;
  height: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.font-sm {
  font-size: $font-size-small;
}

.card-header {
  position: relative;
}

.text-muted {
  color: $dipf-gray-light;
  font-size: 12px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
