<div class="mt-4 mr-4">
  <textarea
    name="learning-goal"
    id="user-message"
    [(ngModel)]="plan.goal"
    (change)="onSubgoalChange($event)"
    class="form-control learning-goal"
    cols="20"
    rows="2"
  ></textarea>
</div>
<div class="d-flex flex-row align-items-center ">
  <!-- <mat-form-field class="date-plan-date-picker" class="mr-2">
      <input
        (dateChange)="onDateChange($event)"
        class="date-picker-narrow"
        [value]="plan.endDate | date: 'yyyy-MM-dd'"
        (input)="plan.endDate = parseDate($event.target.value)"
        matInput
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label class="ml-1 mr-2 date-plan-item-label"> From </label>
    <app-time-select
      [time]="plan.startDate"
      (timeChange)="onFromTimeChange($event)"
    ></app-time-select>
    <label class="ml-2 mr-2 date-plan-item-label"> To </label>
    <app-time-select
      [time]="plan.endDate"
      [isValid]="toTimeValid"
      (timeChange)="onToTimeChange($event)"
    ></app-time-select> -->
  <label class="mr-2 date-plan-item-label"> From </label>
  <app-plan-date
    [date]="plan.startDate"
    (dateChange)="onStartDateChange($event)"
  ></app-plan-date>
  <label class="ml-4 mr-2 date-plan-item-label"> To </label>
  <app-plan-date
    [date]="plan.endDate"
    (dateChange)="onEndDateChange($event)"
  ></app-plan-date>
  <!-- <label class="ml-4 date-plan-item-label"> Duration </label>
    <span class="invested-hours-label col ml-2">{{ hoursDisplay }}</span> -->
</div>
