<div class="dropdown">
  <button
    class="bg-transparent dropdown-menu-button"
    type="button"
    #dropdownMenuButton
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <img src="/assets/btn-icons/menu_white.svg" class="img-icon" />
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" routerLink="/serene/plan" i18n="@@addGoal"
      >Add Goal</a
    >
    <a class="dropdown-item" routerLink="/serene/monitor" i18n="@@monitor"
      >Monitor</a
    >
    <a class="dropdown-item" routerLink="/serene/reflect" i18n="@@reflect"
      >Reflect</a
    >
    <hr />
    <a class="dropdown-item" routerLink="/settings" i18n="@@settings"
      >Settings</a
    >
    <hr />
    <a class="dropdown-item" (click)="signOutClick($event)" i18n="@@signOut"
      >Sign Out</a
    >
    <!-- <hr />
    <a class="dropdown-item" routerLink="/admin" i18n="@@settings"
      >Admin</a
    > -->
  </div>
</div>
