<div class="dropdown filter-panel">
  <button
    class="bg-transparent dropdown-menu-button"
    type="button"
    #dropdownMenuButton
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Tags
    <img src="/assets/btn-icons/menu_white.svg" class="img-icon" />
  </button>
  <div class="dropdown-menu allow-focus show" aria-labelledby="dropdownMenuButton">
    <div class="filter-items">
      <mat-checkbox>Tag Filter One!</mat-checkbox>

      <mat-checkbox>Tag Filter One!</mat-checkbox>

      <mat-checkbox>Tag Filter One!</mat-checkbox>

      <mat-checkbox>Tag Filter One!</mat-checkbox>
    </div>

    <!-- <hr />
      <a class="dropdown-item" routerLink="/admin" i18n="@@settings"
        >Admin</a
      > -->
  </div>
</div>
