$dipf-blue-darker: rgb(55, 87, 115);
$dipf-blue-dark: rgb(23, 80, 131);
$dipf-blue: rgb(32, 132, 214);
$dipf-blue-light: rgb(134, 167, 200);
$dipf-blue-lighter: rgb(175, 195, 218);
$dipf-blue-lightest: rgb(215, 224, 236);

$dipf-orange-dark: rgb(206, 127, 0);
$dipf-orange: rgb(242, 148, 0);
$dipf-orange-light: rgb(247, 176, 78);
$dipf-orange-lighter: rgb(251, 203, 140);
$dipf-orange-lightest: rgb(254, 230, 199);

$dipf-danger: #ff4136;
$dipf-success: #28a745;
$dipf-gray-dark: rgb(60, 60, 60);
$dipf-gray: rgb(100, 100, 100);
$dipf-gray-light: rgb(140, 140, 140);

$font-size-small: 0.75em;
$sidenav-width: 110px;

$media-xs: 576px;
$media-sm: 768px;
$media-md: 992px;
$media-lg: 1200px;
